<!DOCTYPE html>
<html>
  <head>
    <title>TunrRails5RoutesAndResources</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Tun.r</h1>
    <nav>
      <%= link_to "Artists", artists_path %>
    </nav>
    <%= yield %>
  </body>
</html>
