<!DOCTYPE html>
<html>
  <head>
    <title>TunrRails5RoutesAndResources</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Tun.r</h1>
    <nav>
      <a href="/sign_in">Sign in</a>
      <a href="/sign_up">Sign up</a>
      <a href="/sign_out">Sign out</a>
      <a href="/artists">Artists</a>
    </nav>
    <br>
    <em><%= flash[:notice] %></em>
    <%= yield %>
  </body>
</html>
